---
layout: default
---

<div class="home">
  <form method="GET" class="search">
    <input type="search" name="filter" placeholder="🔎"/>
    <button type="submit">Search</button>
  </form>
  <ul class="stores">
    {% for store in site.data.times | sort: "name" %}
      <li class="store" data-name="{{ store.name }}">
        <h2>
          {{ store.name }}
        </h2>
        <ul>
          {% for day in store.days %}
          <li class="day" data-day="{{ day.name }}" data-open="{{ day.open }}" data-close="{{ day.close }}">
              {{ day.name }}:
              <span class="opening-times">{{ day.open }}
                {% if day.close %}
                - {{ day.close }}
                {% endif %}
              </span>
          </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>
