.search {
  display: flex;
  flex-wrap: wrap;

  input {
    font-size: 1rem;
    flex-grow: 3;
    /*min-width: 300px;*/
    padding: .5rem;
    width: 79%;
    -webkit-appearance: none;
    border: 1px solid $card-border-color;
  }

  button {
    width: 18%;
    flex-grow: 1;
    font-size: 1rem;
    padding: .5rem;
    -webkit-appearance: none;
    cursor: pointer;
    border: 1px solid $card-border-color;
    background-color: $brand-color;
    color: white;
    min-width: 200px;
  }
}

li {
  list-style: none;
}

ul {
  list-style: none;
  margin-left: 0;
}

.stores {
  width: 100%;

  @include media-query($on-palm) {
    display: inline-block;
  }

  @include media-query($on-laptop) {
    display: inline-block;
  }
}

.store {
  vertical-align: top;
  width: 30%;
  flex-grow: 1;
  min-width: 300px;
  margin: 1rem;
  margin-left: 0;
  padding: 2rem 0;
  background-color: $card-color;
  border: 1px solid $card-border-color;
  display: none;

  &.show {
    display: inline-block;
  }

  h2 {
    padding: 0 2rem;
  }

  @include media-query($on-laptop) {
    width: 46%;
    min-width: auto;
  }

  @include media-query($on-palm) {
    width: 100%;
    min-width: auto;
  }
}

.opening-times {
  float: right;
}

.day {
  line-height: 2.5;
  padding: 0 2rem;

  .store.open &.today {
    background-color: $open-color;
    border-top: 1px solid darken($open-color, 5%);
    border-bottom: 1px solid darken($open-color, 5%);
  }

  .store &.today {
    background-color: $closed-color;
    border-top: 1px solid darken($closed-color, 5%);
    border-bottom: 1px solid darken($closed-color, 5%);
  }
}
