<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}


  <script src="/js/moment.min.js"></script>
  <script src="/js/jquery.min.js"></script>

  <script>
    $(document).ready(function () {
      $('.store').each(function (storeIdx) {
        var $store = $(this);
        $(this).find('.day').each(function (dayIdx) {
          var $day = $(this);
          var data = $day.data();
          if (moment().format('dddd').toLowerCase() === data.day) {
            console.log($store.data().name)
            // It's this day of the week!

            var now = moment();
            console.log(data.open, data.closed)
            var open = moment(data.open, 'h:mmA');
            var closed = moment(data.close, 'h:mmA');
            console.log(open.format('h:mm'), closed.format('h:mm'))
            if (open.isBefore(now) && closed.isAfter(now)) {
              $store.css('background', 'green');
              $day.css('background', 'green');
              $store.children('h2').append(': Open')
            } else {
              $day.css('background', 'red');
            }
          }
        });
      });
    });
  </script>
  </body>

</html>
